@import "_variables/spacers";
@import "_mixins/media-queries";

header.home {
  height: 100vh;
  width: 100vw;
  main {
    position: absolute;
    bottom: map-get($spacers, 5);
    width: 100%;
    @include mobile-only {
      h1 {
        font-size: 3.2rem;
      }
    }
  }
}

section.cta {
  @include mobile-only {
    h2 {
      font-size: 2.4rem;
    }
  }
  @include desktop {
    .container {
      max-width: 720px;
    }
  }
  @include large-desktop {
    .container {
      max-width: 960px;
    }
  }
}
