.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    @extend .img-fluid;
    border-radius: .25rem;
}

.background-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  
    &.overlay-dark {
      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: black;
        opacity: 0.1;
      }
    }
  }