---
layout: default
title: Home
permalink: /

header-img-path: assets/home/header.jpg

navbar-style: light
navbar-bg: transparent
---

<header class="home bg-primary--variant">
    <div class="background-image overlay-dark" style="background-image:url({{ page.header-img-path }});"></div>
    <main>
        <div class="container">
            <h4>Welkom bij NNAOC.</h4>
            <h1>NNAOC is een marktgerichte onderwijs vernieuwende organisatie die maatwerk oplossingen bied op basis van
                landelijk erkende opleidingen.</h1>
        </div>
    </main>
</header>

<section class="cta bg-regular--variant py-6 py-tablet-7">
    <div class="container text-center">
        <h2>NNAOC heeft zich als doel gesteld mensen met een
            grote achterstand tot de arbeidsmarkt op te leiden en te begeleiden naar zo regulier- en zo duurzaam
            mogelijk werk.</h2>
        <a href="/over-ons" class="btn btn-primary btn-large mt-4">Lees meer over ons</a>
    </div>
</section>

<section class="logo-grid bg-primary">
    <div class="container text-center py-6 py-tablet-7">
        <h1>Erkenningen</h1>
        <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
            {% for acknowledgement in site.data.acknowledgements %}
            <img src="{{ acknowledgement.image_path }}" alt="{{ acknowledgement.name }}"
                class="my-4 mx-5  overlay-accent large">
            {% endfor %}
        </div>
        <h2 class="mt-6">Refenreties van NNAOC</h2>
        <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
            {% for reference in site.data.references %}
            <img src="{{ reference.image_path }}" alt="{{ reference.name }}" class="my-4 mx-5 overlay-variant small">
            {% endfor %}
        </div>
        <h2 class="mt-6">Partners van NNAOC</h2>
        <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
            {% for partner in site.data.partners %}
            <img src="{{ partner.image_path }}" alt="{{ partner.name }}" class="my-4 mx-5 overlay-variant small">
            {% endfor %}
        </div>
    </div>
</section>

<section class="cta bg-primary py-6 py-tablet-7">
    <div class="container text-center">
        <h2>NNAOC is een gewaardeerde en succesvolle partner met ruime ervaring in het Onderwijs, de Sociale Zekerheid
            en Maatschappelijke Dienstverlening.</h2>
        <a href="/contact" class="btn btn-accent btn-large mt-4">Neem contact met ons op</a>
    </div>
</section>
