<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navigation/navbar.html %}

    <header class="margin-navbar-clear py-6 py-tablet-7 bg-primary text-center">
        <div class="container">
            <h1 class="mb-0">{{ page.title }}</h1>
            <h5 class="mt-0">{{ page.date | date: "%d/%m/%Y" }}</h5>
        </div>
    </header>

    <main class="py-4 py-tablet-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    {{ content }}
                </div>
                <div class="col-md-5 col-lg-3 offset-lg-1 mt-5 mt-tablet-0">
                    {% assign featured = site.projects | where: 'is_featured', true | sort: date | reverse %}
                    {% assign other = site.projects | where: 'is_featured', false | sort: date | reverse %}
                    {% assign all = featured | concat: other %}
                    {% assign projects = all | where_exp: "item", "item.path != page.path" %}

                    {% for project in projects limit: 3 %}
                    <div class="mb-4">
                        <h3 class="text-large">
                            {{ project.title }}
                            {% if project.is_featured %}
                            <span class="t-accent">*</span>
                            {% endif%}
                        </h3>
                        <h6 class="mt-1 mb-2 t-secondary">{{ project.date | date: '%d/%m/%Y' }}</h6>
                        <p class="text-small">
                            {{ project.content | strip_html | truncatewords: 20, " ..." }}
                        </p>
                        <a href="{{ project.url }}" class="btn btn-light btn-small mt-2">Lees meer</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    {% include cta.html %}

    {% include footer.html %}
</body>

{% include scripts.html %}

</html>
