$primary: #1976d2;
$primary--variant: #64b5f6;
$accent: #ff6e40;
$background: #fafafa;
$background--variant: #363636;
$error: #e61725;

$on-primary: #fff;
$on-primary--secondary: #e6e6e6;
$on-accent: #fff;
$on-accent--secondary: #e6e6e6;
$on-background: #000;
$on-background--secondary: #363636;
$on-background-variant: #fff;
$on-background-variant--secondary: #ccc;
$on-error: #fff;
$on-error--secondary: #e6e6e6;
