@import "variables/colors";

html,
body,
:root {
  background: $background;
}

.t-regular {
  color: $on-background;
}
.t-secondary {
  color: $on-background--secondary;
}

@mixin text($name, $color) {
  .t-#{$name} {
    color: $color;
  }
}

@include text("primary", $primary);
@include text("primary--variant", $primary--variant);
@include text("accent", $accent);
@include text("error", $error);

@mixin bg($name, $background, $text, $text--secondary) {
  .bg-#{$name} {
    color: $text;
    background-color: $background;
    .t-regular {
      color: $text;
    }
    .t-secondary {
      color: $text;
    }
  }
}

@include bg("regular", $background, $on-background, $on-background--secondary);
@include bg("regular--variant", $background--variant, $on-background-variant, $on-background-variant--secondary);
@include bg("primary", $primary, $on-primary, $on-primary--secondary);
@include bg("primary--variant", $primary--variant, $on-primary, $on-primary--secondary);
@include bg("accent", $accent, $on-accent, $on-accent--secondary);
@include bg("error", $error, $on-error, $on-error--secondary);
