@import "_variables/spacers";
@import "_mixins/fonts";

body,
p,
h1,
h2,
h3 {
  @include primary-font;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  padding-top: map-get($spacers, 2);
}

h1 {
  font-size: 4.8rem;
  padding-top: map-get($spacers, 5);
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}

h2,
h3 {
  padding-top: map-get($spacers, 4);
}

h4,
h5,
h6 {
  @include secondary-font;
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 2);
}

h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}
